{% extends 'base.html' %}
{% block title %} toko add form {% endblock title %}
{% block content %} 
<div class="container">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="nama" class="form-label">Nama</label>
      <input type="text" name="nama" id="nama" class="form-control" value="{{toko.nama}}">
    </div>
    <div class="mb-3">
      <label for="pemilik" class="form-label">Pemilik</label>
      <input type="text" name="pemilik" id="pemilik" class="form-control" value="{{toko.pemilik}}">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" class="form-control" value="{{toko.email}}">
    </div>
    <div class="mb-3">
      <label for="no_telp" class="form-label">No Telp</label>
      <input type="text" name="no_telp" id="no_telp" class="form-control" value="{{toko.no_telp}}">
    </div>
    <div class="mb-3">
      <label for="logo" class="form-label">Logo</label>
      <input type="file" name="logo" id="logo" class="form-control">
      <small>gambar saat ini: <a href="{{toko.logo.url}}">{{toko.logo}}</a> </small>
    </div>
    <div class="mb-3">
      <label for="alamat" class="form-label">Alamat</label>
      <textarea name="alamat" id="alamat" class="form-control">{{toko.alamat}}
      </textarea>
    </div>
    <button type="submit" class="btn btn-success">update toko</button>
  </form>
</div>
{% endblock content %}